<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Mukta-Bold.ttf</string>
		<string>Mukta-ExtraBold.ttf</string>
		<string>Mukta-ExtraLight.ttf</string>
		<string>Mukta-Light.ttf</string>
		<string>Mukta-Medium.ttf</string>
		<string>Mukta-Regular.ttf</string>
		<string>Mukta-SemiBold.ttf</string>
		<string>ReenieBeanie-Regular.ttf</string>
	</array>
    <key>GIDClientID</key>
    <string>507559878258-6i0r3commd5suq5n4ou7gull8l1rdisb.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.507559878258-6i0r3commd5suq5n4ou7gull8l1rdisb</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
